.card {
    position: relative;
    width: 420px;
    padding: 40px;
    margin: 0.5rem;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}



.card:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(-100% + 5px);
    width: 100%;
    height: 100%;
    background-color: #00bb77;
    z-index: 1;
    transition: 0.5s;
}

.card:hover:before {
    bottom: 0;
}

.content {
    position: relative;
    text-transform: capitalize;
    color: #777;
    z-index: 2;
    transition: 0.5s
}

h2{
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 30px;
}

p {
    font-size: 14px;
}

.card:hover .content{
    color: white;
}

.task-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5rem;
}

.task-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.input-search{
    width: 600px;
    height: 40px;
    border-radius: 12px;
    padding:  0.6rem 0.2rem 0.6rem 2.5rem;
    margin: 2rem;
    font-family: 'Comfortaa';
    background: #fff url("https://img.icons8.com/ios/25/search--v1.png") no-repeat 13px;
}

.option-list{
    display: flex;
    justify-content: space-around;
    visibility: hidden;
  
}


.card:hover .option-list{
    visibility: visible;
}


.creation-date{
    margin-top: 0.5rem;
}

#addTaskMessage{
    font-size: 24px;
    color: white;
    font-weight: bolder;
}



@media screen and (max-width: 375px) {
    .task-list{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin: 0.5rem;
    }

    .task-section {
        width: 100%;
    }
}